#section1{
    background-color:rgb(230, 0, 90);
}
#section2{
    background-color:rgb(44, 62, 80);
}
#section3{
    background-color:rgb(51, 153, 204);
}
#section4{
    background-color:rgb(230, 126, 34);
}
#section5{
    background-color:rgb(255, 255, 102);
}
#section6{
    background-color:rgb(128, 128, 128);
}
#section7{
    background-color:rgb(199, 0, 57);
}
.section{
    text-align: center;
    color: white;
}
